.loginBackground {
    height: 100vh;
    background-image: url('../images/iitg2.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginBackground::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    background-size: cover;
    /* filter: blur(10px); */
    z-index: -1;
  }
  
  .container {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 100%;
  }
  
  .login-form h2 {
    margin-top: 0;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
.spContainer{
    margin-bottom: 5%;
    display: flex;
}

.spContainer div{
    margin-left: 0.3rem;
}

  .spText{
    margin: 0%;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  