.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 250px;
    max-width: 250px;
    max-height: 320px;
    min-height: 320px;
}

.card-body {
    padding: 0;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image a {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    overflow: hidden;
}

.card-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    margin-top: 10px;
    overflow-wrap: break-word;
}

.designation {
    overflow-wrap: break-word;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.btn-floating {
    margin-right: 10px;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

.btn-twitter {
    background-color: #55acee;
    color: #fff;
}

.btn-skype {
    background-color: #00aff0;
    color: #fff;
}

.TeamMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
}

.our-team {
    text-align: center;
    font-size: 40px; 
}
