/* Profile.css */

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 250px; /* Set a minimum width */
    max-width: 250px;
    max-height: 320px;
    min-height: 320px;
    /* Set maximum height for the card */
    /* overflow-y: auto; Add scrollbar if content overflows */
}

.card-body {
    padding: 0; /* Remove default padding */
}

.profile-image {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.card-image a{
    width: 150px; /* Set fixed width for the image container */
    height: 150px; /* Set fixed height for the image container */
    border-radius: 50%;;
    background-color: black;
    display: flex;
    overflow: hidden; /* Hide overflowing image content */
}

.card-image img {
    width: 100%; 
     height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}


.card-title {
    font-weight: bold;
    margin-top: 10px; /* Adjust gap between image and name */
    overflow-wrap: break-word; /* Allow name to wrap to new line */
}

.designation {
    overflow-wrap: break-word; /* Allow designation to wrap to new line */
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.btn-floating {
    margin-right: 10px; /* Adjust the space between social buttons */
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

.btn-twitter {
    background-color: #55acee;
    color: #fff;
}

.btn-skype {
    background-color: #00aff0;
    color: #fff;
}


.TeamMembers {
    display: flex; /* Use flexbox to display items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next row if there's not enough space */
    justify-content: center; /* Center items horizontally */
  }
  .card {
    /* Your existing card styles */
    /* Add margin to create space between cards */
    margin: 10px;
  }


.our-team {
    text-align: center;
    font-size: 40px; 
}
