.profile-section{
    /* background-color: black; */
    padding: 10px;
}


.Profile-box{
 height: 240px;
 width: 200px;
 padding: 20px 20px 20px 20px;
 border-radius: 10%;
 display: flex;
 flex-direction: column;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 align-items: center;
 background-color: white;
 box-shadow: 5px 5px 10px rgba(218, 215, 215, 0.943);
}

.Profile-box:hover .pic{
    border: 5px solid rgb(71, 66, 66);
    transition: box-shadow 0.3s ease;
    box-shadow: 5px 5px 30px lightgray,-5px -5px 30px lightgray;
    scale: 0.95;
}

.TeamMembers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 15px;
    padding-bottom: 8px;
    row-gap: 15px;
}

.profile-pic{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Profile-box:hover{
    transition: scale 0.1s ease;
    scale: 1.09;
    box-shadow: 5px 5px 30px lightgray,-5px -5px 30px lightgray;
}

.Profile-box:hover p{
    transition: color 0.3s ease;
    font-weight: 400;
}

.Profile-box:hover h3{
    font-weight: 400;
    transition: color 0.3s ease;
}

@keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 2px gray, 0 0 7px gray, 0 0 11px gray, 0 0 15px gray, 0 0 18px gray;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 15px gray, 0 0 20px gray, 0 0 25px gray, 0 0 30px gray, 0 0 30px gray;
    }
}

.team-text{
    font-size: 2rem;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2%;
    color: black;
    height: 20%;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px gray, 0 0 10px gray, 0 0 15px gray, 0 0 20px gray, 0 0 25px gray;
    animation: glow 2s ease-in-out infinite alternate;
}

